.recipe-details {

  &__container{
    img {
      width: 400px;
      border-radius: 10px;
    }
  }
  
  &__recommendations {

    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    img{
      width: 180px;
      height: 180px;
    }
  }
  @media screen and (max-width: 767px) {
    &__container{
      img {
        width: 100%;

      }
    }

    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
